<section id="newsletter-section" class="newsletter-section">
  <div class="container-fluid px-0 h-100">
    <div class="newsletter-wrapper h-100 d-flex justify-content-center align-items-center">

      <div class="content-wrapper  d-flex flex-column justify-content-around align-items-center h-100">
        <h1 class="title m-0 mt-4 text-capitalize">subscribe to our newsletter</h1>
        <p class="description m-0">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en, faux texte employé dans la </p>
        <div class="position-relative">
          <input type="text" class="form-control newsletter-input pl-4" placeholder="Enter your email">
          <span class="icon-close-envelope position-absolute"></span>
        </div>
      </div>


    </div>
  </div>
</section>
