@import "../../../sass/tools";

.newsletter-section {
  height: 357px;
  background-color: $white-color;

  .newsletter-wrapper {
    background: royalblue url('../../../assets/images/newsletter.png') no-repeat center;
    background-size: cover;
    position: relative;

    .content-wrapper {

      .subscribe-to-our-new {
        color: #000000;
        font-size: 55px;
        line-height: 83px;
        text-align: justify;
      }

      .description{
        height: 42px;
        width: 948px;
        color: #000000;
        font-size: 22px;
        line-height: 21px;
        text-align: center;
      }

      .newsletter-input{
        height: 73px;
        width: 568.93px;
        border-radius: 32.5px;
        border: 0;
        background-color: #FFFFFF;
        box-shadow: 0 4px 22px 0 rgba(0,0,0,0.17);
      }

      .icon-close-envelope{
        color: #E1302A;
        top: 30px;
        right: 25px;
      }
    }

  }
}


::-webkit-input-placeholder {
  // WebKit, Blink, Edge
  color: #CACACA;
  font-size: 20px;
  line-height: 24px;
}

:-moz-placeholder {
  // Mozilla Firefox 4 to 18
  color: #CACACA;
  font-size: 20px;
  line-height: 24px;
}

::-moz-placeholder {
  // Mozilla Firefox 19+
  color: #CACACA;
  font-size: 20px;
  line-height: 24px;
}

:-ms-input-placeholder {
  // Internet Explorer 10-11
  color: #CACACA;
  font-size: 20px;
  line-height: 24px;
}

::-ms-input-placeholder {
  // Microsoft Edge
  color: #CACACA;
  font-size: 20px;
  line-height: 24px;
}

::placeholder {
  // Most modern browsers support this now.
  color: #CACACA;
  font-size: 20px;
  line-height: 24px;
}
