<nav class="navbar pb-0 pt-0">

  <div class="left-side-wrapper d-flex justify-content-center align-items-center h-100">
    <span class="icon-search"></span>
    <div class="line h-100 ml-3 mr-2"></div>
    <div class="navbar-toggler-wrapper d-flex justify-content-center align-items-center">
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapse">
        <span class="icon-menu"></span>
      </button>
      <span>Shop Category</span>
    </div>
    <div class="line h-100 ml-3 mr-2"></div>
  </div>

  <div class="logo-wrapper">
    <img src="../../../../assets/images/logo.png" alt="">
  </div>

  <div class="right-side-wrapper d-flex justify-content-center align-items-center h-100">
    <div class="line h-100"></div>
    <span class="icon-user"></span>
    <div class="line h-100"></div>
    <span class="icon-heart"></span>
    <div class="line h-100"></div>
    <span class="icon-shopping-cart">
      <span class="shoping-badge">2</span>
    </span>
  </div>

  <div class="collapse navbar-collapse" [ngClass]="{'in' : !isCollapsed, 'out' : isCollapsed}" id="collapse"  [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" scrollTo="carousel-section">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" scrollTo="whoweare-section">Who we are</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" scrollTo="featured-products-section">Featured products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" scrollTo="shop-by-parts-section">Shop by parts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" scrollTo="maintenance-products-section">Maintenance products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" scrollTo="">Latest articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" scrollTo="socialmedia-section">Social media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" scrollTo="newsletter-section">Newsletter</a>
      </li>
    </ul>
  </div>

</nav>
