@import "../../../../sass/tools";

.navbar {
  height: 98px;
  background-color: $bg-header-color;

  .left-side-wrapper {
    color: $white-color;

    .icon-search {
      font-size: 30px;
    }

    .line {
      width: 1px;
      border: 0.5px solid #979797;
    }

    .navbar-toggler-wrapper {
      button {
        .icon-menu {
          color: $white-color;
          font-size: 30px;
        }
      }
      span {
        font-size: 20px;
        letter-spacing: 1px;
      }
    }

  }

  .right-side-wrapper {
    color: $white-color;

    .icon-user, .icon-shopping-cart, .icon-heart {
      font-size: 30px;
      margin-left: 35px;
      margin-right: 35px;
    }

    .icon-shopping-cart {
      position: relative;
      .shoping-badge {
        position: absolute;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        background-color: #FD3B51;
        top: -10px;
        left: 16px;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        font-family: $main-font;
      }
    }

    .line {
      width: 1px;
      border: 0.5px solid #979797;
    }
  }

  .collapse {
    background-color: $bg-header-color;
    display: block !important;
    transition: all 0.4s ease-in-out;
    z-index: 999;
    padding: 0.1rem 1rem;

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: rgba(255, 255, 255, .5);
          &:hover{
            color: rgba(255,255,255,.75);
          }
        }
      }

      .nav-item.active {
        .nav-link {
          color: $white-color;
        }
      }
    }

  }

  .collapse.out {
    opacity: 0;
    height: 0;
  }

  .collapse.in {
    opacity: 1;
    height: 320px;
  }
}

