/******  Font  *******/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
$main-font: 'Titillium Web', sans-serif ;

/******  Colors  *******/
$bg-color: #FFFFFF;
$bg-header-color: #1D1D1D;
$white-color: #FFFFFF;
$text-default-color: #000000;
$primaryColor: #3D86C7;
$secondaryColor: #00B439;
$tertiaryColor: #F9F9F9;
$lightTertiaryColor: #57585b;
$quaternaryColor: #9B9B9B;
$quinaryColor: #FF9502;
$senaryColor: #4DC8FF;
$septenaryColor: #03E24D;
$octonaryColor: #4A4A4A;
$nonaryColor: #687178;
$denaryColor: #DFDFDF;

