@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8hl196');
  src:  url('fonts/icomoon.eot?8hl196#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8hl196') format('truetype'),
    url('fonts/icomoon.woff?8hl196') format('woff'),
    url('fonts/icomoon.svg?8hl196#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat-speech-bubbles:before {
  content: "\e900";
}
.icon-time:before {
  content: "\e901";
}
.icon-close-envelope:before {
  content: "\e902";
}
.icon-instagram-social-network-logo-of-photo-camera:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-facebook-logo:before {
  content: "\e906";
}
.icon-reload:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e90b";
}
.icon-shopping-cart:before {
  content: "\e90c";
}
.icon-back:before {
  content: "\e90d";
}
