@import "../../../sass/tools";

  .featured-products-section {

  .section-title {
    margin-bottom: 32px;
    color: #000000;
    font-size: 33px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
  }

  .left-col {

    .first-block {
      height: 343px;
      background: radial-gradient(circle, #94999C 0%, #63686C 100%);

      .title {
        color: $white-color;
        font-size: 22px;
        line-height: 26px;
      }

      .description {
        height: 95px;
        width: 233px;
        color: $white-color;
        font-size: 39px;
        line-height: 47px;
        margin-bottom: 42px;
      }

      .btn-buy {
        height: 59px;
        width: 142px;
        //border: 1px solid #979797;
        border-radius: 32.5px;
        background-color: #FFFFFF;
        span {
          height: 23px;
          width: 33px;
          color: #000000;
          font-size: 19px;
          line-height: 23px;
          text-align: justify;
        }
        &:hover {
          opacity: 0.5;
        }
      }

      .btn-favorite {
        height: 51px;
        width: 51px;
        border-radius: 30.5px;
        background-color: #8E9396;
        margin-left: 25px;
        .icon-heart {
          font-size: 19px;
          color: $white-color
        }
        &:hover {
          opacity: 0.5;
        }
      }

      .price {
        height: 68px;
        width: 66px;
        color: $white-color;
        font-size: 28px;
        line-height: 34px;
        margin-left: 50px;
      }

    }

    .second-block {
      height: 393px;
      background: linear-gradient(318.19deg, #412127 0%, #1D0C0E 100%);

      .content-wrapper {
        padding-left: 2rem;

        .title {
          color: $white-color;
          font-size: 22px;
          line-height: 26px;
        }

        .description {
          height: 96px;
          width: 214px;
          color: $white-color;
          font-size: 35px;
          line-height: 42px;
          margin-bottom: 50px;
        }

        .btn-buy {
          height: 59px;
          width: 142px;
          border-radius: 32.5px;
          background-color: #FFFFFF;
          span {
            height: 23px;
            width: 33px;
            color: #000000;
            font-size: 19px;
            line-height: 23px;
            text-align: justify;
          }
          &:hover {
            opacity: 0.5;
          }
        }

        .btn-favorite {
          height: 51px;
          width: 51px;
          border-radius: 30.5px;
          background-color: #8E9396;
          margin-left: 25px;
          .icon-heart {
            font-size: 19px;
            color: $white-color
          }
          &:hover {
            opacity: 0.5;
          }
        }

        .price {
          height: 68px;
          width: 66px;
          color: $white-color;
          font-size: 28px;
          line-height: 34px;
          margin-left: 50px;
        }
      }

    }

    .third-block {
      height: 393px;
      background: linear-gradient(301.86deg, #FCD07F 0%, #FAB54E 100%);

      .content-wrapper {
        padding-left: 2rem;

        .title {
          color: #000000;
          font-size: 22px;
          line-height: 26px;
        }

        .description {
          height: 96px;
          width: 214px;
          color: #000000;
          font-size: 35px;
          line-height: 42px;
          margin-bottom: 50px;
        }

        .btn-buy {
          height: 59px;
          width: 142px;
          border-radius: 32.5px;
          background-color: #FCD18C;
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.16);
          span {
            height: 23px;
            width: 33px;
            color: #000000;
            font-size: 19px;
            line-height: 23px;
            text-align: justify;
          }
          &:hover {
            opacity: 0.5;
          }
        }

        .btn-favorite {
          height: 51px;
          width: 51px;
          border-radius: 30.5px;
          background-color: #FCD18C;
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.16);
          margin-left: 25px;
          .icon-heart {
            font-size: 19px;
            color: #000000;
          }
          &:hover {
            opacity: 0.5;
          }
        }

        .price {
          height: 68px;
          width: 66px;
          color: #000000;
          font-size: 28px;
          line-height: 34px;
          margin-left: 50px;
        }
      }
    }
  }

  .right-col {

    .fourth-block {
      height: 736px;
      background-color: #484B5A;
      padding-left: 2rem;

      .btn-new-wrapper {
        .btn-new {
          height: 45px;
          width: 85px;
          border-radius: 9px;
          background-color: #FC3B52;
          padding: 0;
          span {
            color: $white-color;
            font-size: 28px;
            line-height: 43px;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }

      .content-wrapper {

        .title {
          color: $white-color;
          font-size: 22px;
          line-height: 26px;
        }

        .description {
          height: 116px;
          width: 396px;
          color: $white-color;
          margin-bottom: 20px;
          font-size: 38px;
          font-weight: 600;
          line-height: 58px;
        }

        .btn-buy {
          height: 59px;
          width: 142px;
          border-radius: 32.5px;
          background-color: #FFFFFF;
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.16);
          span {
            height: 23px;
            width: 33px;
            color: #000000;
            font-size: 19px;
            line-height: 23px;
            text-align: justify;
          }
          &:hover {
            opacity: 0.5;
          }
        }

        .btn-favorite {
          height: 51px;
          width: 51px;
          border-radius: 30.5px;
          background-color: #60626C;
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.16);
          margin-left: 25px;
          .icon-heart {
            font-size: 19px;
            color: $white-color;
          }
          &:hover {
            opacity: 0.5;
          }
        }

        .price {
          height: 68px;
          width: 66px;
          color: $white-color;
          font-size: 28px;
          line-height: 34px;
          margin-left: 50px;
        }
      }
    }

  }

  .section-footer {
    height: 63px;
    border: 1px solid #979797;
    background-color: #FFFFFF;
    .icon-reload {
      color: #F6BA64;
      font-size: 14px;
      padding: 4px;
    }
    .load-more {
      color: #000000;
      font-size: 22px;
      line-height: 34px;
    }
  }
}
