<section id="featured-products-section" class="featured-products-section">
  <div class="container-fluid p-0">

    <div class="row">
      <div class="col-12">
        <h1 class="section-title text-uppercase">featured products</h1>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-8 left-col">
        <div class="row">
          <div class="col-12 first-block d-flex justify-content-around align-items-center">
            <div>
              <h3 class="title">Mountain Bike</h3>
              <p class="description">Carbon Rims Wide</p>
              <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-buy">
                  <span class="icon-shopping-cart pr-2"></span>
                  <span>Buy</span>
                </button>
                <button class="btn btn-favorite">
                  <span class="icon-heart"></span>
                </button>
                <span class="price d-inline-block">From $700</span>
              </div>
            </div>
            <div>
              <img src="../../../assets/images/featured-products-1.png" alt="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 second-block d-flex justify-content-center align-items-center">

            <div class="content-wrapper">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <h3 class="title">Frames</h3>
                  <p class="description">Zealous Div Frame</p>
                </div>
                <div>
                  <img src="../../../assets/images/featured-products-4.png" alt="">
                </div>
              </div>
              <div class="d-flex align-items-center">
                <button class="btn btn-buy">
                  <span class="icon-shopping-cart pr-2"></span>
                  <span>Buy</span>
                </button>
                <button class="btn btn-favorite">
                  <span class="icon-heart"></span>
                </button>
                <span class="price d-inline-block">From $900</span>
              </div>
            </div>

          </div>
          <div class="col-sm-6 third-block d-flex justify-content-center align-items-center">

            <div class="content-wrapper">
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <h3 class="title text-uppercase">aero system</h3>
                  <p class="description">ShockStop Suspension Stem</p>
                </div>
                <div>
                  <img src="../../../assets/images/featured-products-3.png" alt="">
                </div>
              </div>
              <div class="d-flex align-items-center">
                <button class="btn btn-buy">
                  <span class="icon-shopping-cart pr-2"></span>
                  <span>Buy</span>
                </button>
                <button class="btn btn-favorite">
                  <span class="icon-heart"></span>
                </button>
                <span class="price d-inline-block">From $700</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-sm-4 right-col">
        <div class="row">
          <div class="col-12 fourth-block d-flex justify-content-center flex-column">

            <div class="btn-new-wrapper mb-5">
              <button class="btn btn-new">
                <span class="">new</span>
              </button>
            </div>
            <div class="content-wrapper">
              <div>
                <img src="../../../assets/images/featured-products-2.png" alt="">
              </div>
              <h3 class="title text-uppercase">aero system</h3>
              <p class="description">Redshift DUAL-POST SEATPOST</p>
              <div class="d-flex align-items-center">
                <button class="btn btn-buy">
                  <span class="icon-shopping-cart pr-2"></span>
                  <span>Buy</span>
                </button>
                <button class="btn btn-favorite">
                  <span class="icon-heart"></span>
                </button>
                <span class="price d-inline-block">From $700</span>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
          <div class="section-footer d-flex align-items-center justify-content-center">
            <span class="icon-reload"></span>
            <span class="load-more">Load more</span>
          </div>
      </div>
    </div>


  </div>
</section>
