@import "../../../sass/tools";


.carousel-section{

  .carousel-wrapper{
    background-color: rgba(0,0,0,0.43);
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.5);
      //z-index: 9;
    }

    /deep/ .carousel{
      .carousel-control-prev{
        .carousel-control-prev-icon{
          cursor: pointer;
          background-image: unset;
          position: relative;
          border-radius: 50%;
          height: 72px;	width: 72px;
          border: 2px solid #979797;
          &:before{
            content: "\e90d";
            color: #979797;
            position: absolute;
            top: 23px;
            left: 25px;
          }
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &:hover{
            border: 2px solid #BEBEBE;
            color: red;
            // box-shadow: inset 3px 3px 3px 2px rgba(255,255,255,0.5), 0 1px 8px 1px rgba(255,255,255,0.33);
          }
        }
      }

      .carousel-control-next{
        .carousel-control-next-icon{
          cursor: pointer;
          background-image: unset;
          position: relative;
          border-radius: 50%;
          height: 72px;	width: 72px;
          border: 2px solid #979797;
          &:before{
            content: "\e90d";
            color: #979797;
            position: absolute;
            top: 23px;
            left: 25px;
            transform: rotate(180deg);
          }
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &:hover{
            border: 2px solid #BEBEBE;
            // box-shadow: inset 3px 3px 3px 2px rgba(255,255,255,0.5), 0 1px 8px 1px rgba(255,255,255,0.33);
          }
        }
      }
    }

    .carousel-caption{
      top: 4%;
      right: 12%;
      left: unset;
      bottom: unset;

      .title {
        height: 332px;
        width: 515px;
        color: $white-color;
        font-size: 87px;
        font-weight: bold;
        line-height: 104px;
        text-align: center;
      }

      .btn-more-info{
        height: 59px;
        width: 208px;
        border-radius: 29.5px;
        background-color: #FC3B52;
        box-shadow: inset 0 0 0 0 rgba(0,0,0,0.5), 0 11px 20px 0 rgba(0,0,0,0.16);
        span{
          height: 29px;
          width: 101px;
          color: $white-color;
          font-size: 24px;
          line-height: 29px;
        }
        &:hover{
          opacity: 0.5;
          //transform: scale(1.1);
          //transition: all 0.4s ease-in-out;
        }
      }
    }
  }

}
