<section id="carousel-section" class="carousel-section">
  <div class="container-fluid p-0">

    <div class="carousel-wrapper">
      <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide>
          <img [src]="images[0]" class="h-100 w-100" alt="Random first slide">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[1]" class="h-100 w-100" alt="Random second slide">
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[2]" class="h-100 w-100" alt="Random third slide">
        </ng-template>
      </ngb-carousel>
      <div class="carousel-caption">
        <h3 class="title text-uppercase">awesome bicycle products</h3>
        <button class="btn btn-more-info">
          <span>More info</span>
        </button>
      </div>
    </div>


  </div>
</section>
