<section id="whoweare-section" class="whoweare-section">
  <div class="container-fluid p-0 h-100">
    <div class="row h-100">
      <div class="col-sm-6">

        <div class="left-col d-flex flex-column justify-content-center align-items-center h-100">
            <div class="content-wrapper">
              <h1 class="title text-uppercase mb-5">who we are</h1>
              <p class="description mb-5">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a
              </p>
              <button class="btn btn-more-info">
                <span>More info</span>
              </button>
            </div>
        </div>

      </div>
      <div class="col-sm-6">

          <div class="right-col d-flex align-items-center justify-content-center h-100">
            <div class="imgs-wrapper position-relative">
              <img src="../../../assets/images/who-we-are-1.jpg" class="position-absolute back-img img-fluid" alt="">
              <img src="../../../assets/images/who-we-are-2.jpg" class="position-absolute front-img img-fluid" alt="">
            </div>
          </div>

      </div>
    </div>
  </div>
</section>
