@import "../../../sass/tools";

.whoweare-section {
  height: 848px;
  background-color: #FFFFFF;

  .left-col {

    .content-wrapper{
      padding-left: 122px;
      padding-top: 128px;
      .title {
        color: #000000;
        font-size: 52px;
        font-weight: bold;
        line-height: 62px;
      }

      .description {
        height: 221px;
        width: 599px;
        color: #000000;
        font-size: 22px;
        line-height: 26px;
        text-align: justify;
      }

      .btn-more-info {
        height: 59px;
        width: 208px;
        border-radius: 29.5px;
        background-color: #FC3B52;
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5), 0 11px 20px 0 rgba(0, 0, 0, 0.16);
        span {
          height: 29px;
          width: 101px;
          color: $white-color;
          font-size: 24px;
          line-height: 29px;
        }
        &:hover {
          opacity: 0.5;
          //transform: scale(1.1);
          //transition: all 0.4s ease-in-out;
        }
      }

    }

  }

  .right-col {

    .imgs-wrapper {
      width: 416px;
      height: 437px;
      img {
        height: 288px;
        width: 285px;
      }
      .front-img{
        bottom: 0;
      }
      .back-img{
        right: 0;
        opacity: 0.6;
      }
    }

  }

}
