@import "../../../sass/tools";

.maintenance-products-section {
  height: 523px;
  background-color: #E8D5B7;

  .left-col{

    .title{
      height: 112px;
      width: 371px;
      color: #000000;
      font-size: 53px;
      font-weight: 600;
      line-height: 53px;
    }

    .description{
      height: 147px;
      width: 383px;
      color: #000000;
      font-size: 23px;
      line-height: 29px;
      text-align: justify;
    }

    .btn-see-all-prods{
      height: 59px;
      width: 210px;
      border-radius: 29.5px;
      background-color: #FFFFFF;
      box-shadow: inset 0 0 0 0 rgba(0,0,0,0.5), 0 11px 20px 0 rgba(0,0,0,0.16);
      span{
        color: #000000;
        font-size: 22px;
        line-height: 34px;
      }
      &:hover{
        opacity: 0.5;
      }
    }

  }

  .right-col{

    .product-container{
      height: 349px;
      background-color: #FFFFFF;

      .img-wrapper{
        img{
          max-height: 133px !important;
        }
      }

      .title {
        color: #000000;
        font-size: 22px;
        line-height: 26px;
      }

      .description {
        //height: 96px;
        //width: 214px;
        color: #000000;
        font-size: 31px;
        line-height: 47px;
        text-align: justify;
      }

      .btn-buy {
        height: 43px;
        width: 116px;
        border-radius: 32.5px;
        background-color: #FC3B52;
        span {
          color: $white-color;
          font-size: 20px;
          line-height: 24px;
          text-align: justify;
        }
        &:hover {
          opacity: 0.5;
        }
      }

      .btn-favorite {
        // margin-left: 25px;
        height: 50px;
        width: 50px;
        border-radius: 30.5px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 11px 0 rgba(0,0,0,0.16);
        .icon-heart {
          font-size: 19px;
          color: #418884;
        }
        &:hover {
          opacity: 0.5;
        }
      }

      .price {
        color: #FD394F;
        font-size: 19px;
        line-height: 29px;
        text-align: justify;
      }

    }

  }

}
