<section id="maintenance-products-section" class="maintenance-products-section">
  <div class="container-fluid h-100">

    <div class="row content-wrapper h-100">

      <div class="col-sm-5">
          <div class="d-flex align-items-center justify-content-center  h-100">
            <div class="left-col">
              <h1 class="title text-uppercase">maintenance products</h1>
              <p class="description">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
                avant impression.
                Lorem Ipsum est le faux texte standard texte l'imprimerie depuis les années. </p>
              <button class="btn btn-see-all-prods">
                <span class="">See all products</span>
              </button>
            </div>
          </div>
      </div>

      <div class="col-sm-7">
        <div class="row justify-content-center align-items-center h-100 w-100 m-0 right-col">
          <div class="col-sm-6">
            <div class="product-container">
              <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div class="mb-4 img-wrapper">
                  <img src="../../../assets/images/maint-products-1.png"  class="img-fluid" alt="">
                </div>
                <p class="description mb-0">AAS Juice - 150ml</p>
                <div class="d-flex align-items-center justify-content-around w-75">
                  <span class="price d-inline-block">$19.00</span>
                  <button class="btn btn-buy">
                    <span class="pr-2">Buy</span>
                    <span class="icon-shopping-cart pr-2"></span>
                  </button>
                  <button class="btn btn-favorite">
                    <span class="icon-heart"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="product-container">
              <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <div class="mb-4 img-wrapper">
                  <img src="../../../assets/images/maint-products-2.png" class="img-fluid" alt="">
                </div>
                <p class="description mb-0">AAS Juice - 150ml</p>
                <div class="d-flex align-items-center justify-content-around w-75">
                  <span class="price d-inline-block">$33.00</span>
                  <button class="btn btn-buy">
                    <span class="pr-2">Buy</span>
                    <span class="icon-shopping-cart pr-2"></span>
                  </button>
                  <button class="btn btn-favorite">
                    <span class="icon-heart"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
