<footer class="home-footer">
  <section class="home-footer-section">
    <div class="container-fluid h-100">

      <div class="row h-100">
        <div class="col-sm-5">
          <div class="d-flex align-items-center h-100 justify-content-center">
            <div class="d-flex flex-column h-100 justify-content-around pb-5 pt-5 content-wrapper">
              <div class="logo-wrapper">
                <img src="../../../../assets/images/logo-1.png" alt="">
              </div>
              <p class="description">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise
                en </p>
              <div class="d-flex justify-content-between">
                <span class="options">Guides</span>
                <span class="options">Terms of Use</span>
                <span class="options">Privacy Policy</span>
              </div>
              <div>
                <span class="copyright">Copyright 2017, Bicycle Company </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="d-flex justify-content-center h-100">
            <div class="d-flex justify-content-around h-100 w-100 px-4 py-5 middle-content-wrapper">
              <div class="d-flex flex-column justify-content-around">
                <span class="options-title pb-3">Quick Links</span>
                <span class="options">Search</span>
                <span class="options">Shipping and Delivery</span>
                <span class="options">Payment Options</span>
                <span class="options">Contact Us</span>
              </div>

              <div class="d-flex flex-column justify-content-around">
                <span class="options-title pb-3">About Us</span>
                <span class="options">Our story</span>
                <span class="options">Maintenance</span>
                <span class="options">Service</span>
                <span class="options">Products</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="d-flex justify-content-center h-100">
            <div class="d-flex flex-column h-100 w-100 px-4 py-5 last-content-wrapper">
              <div class="d-flex align-items-center justify-content-between flex-column h-100">

                <div class="h-50 text-center w-100">
                  <span class="options-title">Follow us</span>
                  <div class="d-flex w-100 justify-content-around mt-5">
                    <span class="icon icon-facebook-logo"></span>
                    <span class="icon icon-twitter"></span>
                    <span class="icon icon-instagram"></span>
                  </div>
                </div>

               <div class="d-flex flex-column h-50 justify-content-end text-center w-100">
                 <span class="pay-method mb-3">Payment methods</span>
                 <div class="mb-3">
                   <img src="../../../../assets/images/paypal.png" alt="">
                   <img src="../../../../assets/images/visa.png" alt="">
                 </div>
               </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</footer>
