@import "../../../../sass/tools";

.home-footer-section {
  color: #ffffff !important;
  height: 365px;
  background-color: #222222;

  .content-wrapper{

    .description{
      height: 38px;
      width: 415px;
      color: #5B5B5B;
      font-size: 18px;
      line-height: 19px;
      text-align: justify;
    }

    .options{
      color: #888888;
      font-size: 20px;
      line-height: 31px;
    }

    .copyright{
      color: #5E5E5E;
      font-size: 19px;
      line-height: 29px;
    }

  }

  .middle-content-wrapper{

    .options-title{
      color: $white-color;
      font-size: 21px;
      line-height: 32px;
    }

    .options{
      color: #717171;
      font-size: 20px;
      line-height: 31px;
    }
  }

  .last-content-wrapper{

    .options-title{
      color: $white-color;
      font-size: 21px;
      line-height: 32px;
    }

    .icon{
      font-size: 24px;
    }

    .pay-method{
      color: #717171;
      font-size: 20px;
      line-height: 31px;
    }
  }


}
