@import "../../../sass/tools";

.socialmedia-section {
  height: 504px;
  background-color: $white-color;

  .img-row-container {

    .img-container {
      .img {
        max-width: 240px;
      }
    }

  }

  .twitter-container {
    height: 253px;
    background-color: #03ABEE;

    .icon-twitter {
      color: $white-color;
      font-size: 42px;
    }

    .text-twitter {
      color: $white-color;
      font-size: 20px;
      font-weight: 600;
      line-height: 31px;
    }

    .text-tweets {
      color: $white-color;
      font-size: 60px;
      line-height: 91px;
      font-weight: 100;
    }

    .text-hashtag {
      color: $white-color;
      font-size: 22px;
      line-height: 34px;
    }
  }

  .facebook-container {
    height: 253px;
    background-color: #3B5999;

    .icon-facebook-logo {
      color: $white-color;
      font-size: 42px;
    }

    .text-facebook {
      color: $white-color;
      font-size: 20px;
      font-weight: 600;
      line-height: 31px;
    }

    .text-fb {
      color: $white-color;
      font-size: 60px;
      line-height: 91px;
      font-weight: 100;
    }

    .text-hashtag {
      color: $white-color;
      font-size: 22px;
      line-height: 34px;
    }
  }

  .latest-tweets-container {
    .title {
      color: #9A9A9A;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    .content {
      color: #000000;
      font-size: 22px;
      line-height: 28px;
    }

    .hashtag {
      color: #272727;
      font-size: 17px;
      line-height: 26px;
    }

    .time {
      color: #9A9A9A;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
