<section id="socialmedia-section" class="socialmedia-section">
  <div class="container-fluid px-0 h-100">

    <div class="row">
      <div class="col-12 col-sm-12">
        <div class='img-row-container d-flex flex-wrap m-0 p-0'>
          <div class="img-container"><img class="img" src='../../../assets/images/socialmedia-1.png'/></div>
          <div class="img-container"><img class="img" src='../../../assets/images/socialmedia-2.png'/></div>
          <div class="img-container"><img class="img" src='../../../assets/images/socialmedia-3.png'/></div>
          <div class="img-container"><img class="img" src='../../../assets/images/socialmedia-4.png'/></div>
          <div class="img-container"><img class="img" src='../../../assets/images/socialmedia-5.png'/></div>
          <div class="img-container"><img class="img" src='../../../assets/images/socialmedia-6.png'/></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-3">
        <div class="twitter-container d-flex flex-column align-items-center justify-content-around">
          <span class="icon-twitter"></span>
          <span class="text-twitter text-uppercase">twitter</span>
          <span class="text-tweets">8899</span>
          <span class="text-hashtag">#bicyclecompany</span>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="latest-tweets-container h-100 d-flex flex-column justify-content-around">
          <span class="title text-uppercase">latest tweets</span>
          <span class="content">Lorem Ipsum est simplement du faux texte employé dans la  faux composition et la mise en. </span>
          <span class="hashtag">@bicyclecompany</span>
          <span class="time">12 mins</span>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <div class="facebook-container d-flex flex-column align-items-center justify-content-around">
          <span class="icon-facebook-logo"></span>
          <span class="text-facebook text-uppercase">facebook</span>
          <span class="text-fb">10389</span>
          <span class="text-hashtag">#bicyclecompany</span>
        </div>
      </div>
    </div>

  </div>
</section>
