@import "../../../sass/tools";

.shop-by-parts-section {

  .section-title {
    margin-top: 60px;
    margin-bottom: 34px;
    color: #000000;
    font-size: 33px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
  }

  .btn-more-info {
    height: 59px;
    width: 208px;
    border-radius: 29.5px;
    background-color: #FC3B52;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5), 0 11px 20px 0 rgba(0, 0, 0, 0.16);
    span {
      height: 29px;
      width: 101px;
      color: $white-color;
      font-size: 24px;
      line-height: 29px;
    }
    &:hover {
      opacity: 0.5;
      //transform: scale(1.1);
      //transition: all 0.4s ease-in-out;
    }
  }

  /deep/ .nav-tabs {
    border-bottom: 4px solid #E5E5E5;
    white-space: nowrap;

    .nav-item {
      flex: 1;
      margin-bottom: -4px !important;
    }

    .nav-link{
      color: #C9C9C9;
      font-size: 32px;
      line-height: 48px;
      &:hover{
        border: 0;
      }
    }

    .nav-link.active {
      border: 0;
      border-bottom: 4px solid #FB3B57;
      color: #000000;
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
    }
  }
}
