<section id="shop-by-parts-section" class="shop-by-parts-section">
  <div class="container-fluid p-0">

    <div class="row">
      <div class="col-12">
        <h1 class="section-title text-uppercase">shop by parts</h1>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-sm-12">
        <div class="d-flex justify-content-center align-items-center">
          <img src="../../../assets/images/shop-by-parts-1.jpg" alt="">
          <div class="">
            <button class="btn btn-more-info">
              <span>See products</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-5">
      <div class="col-sm-10">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle>Race Road/TT bikes</ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Road Mountain bikes</ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Lifestyle Bikes</ng-template>
            <!--<ng-template ngbTabContent></ng-template>-->
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Bespoke Bikes</ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

  </div>
</section>
