@charset "utf-8";
@import './sass/variables';
@import './sass/bootstrap-custom';
@import "assets/icons/style.css";
@import '~bootstrap/dist/css/bootstrap.min.css';



html, body{
  font-family: $main-font;
  margin:  0;
  padding:  0;
  width: 100%;
}

:focus{
  outline: none;
  outline: 0;
}

